USE [master]
GO
/****** Object:  Database [BDNOMINA2018]    Script Date: 25/07/2019 07:58:47 p. m. ******/
CREATE DATABASE [BDNOMINA2018]
 GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDNOMINA2018].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
ALTER AUTHORIZATION ON DATABASE::[BDNOMINA2018] TO [AdminLocal]
GO

CREATE LOGIN [AdminBDNOMINA2018] WITH PASSWORD=N'P455w0rd4dm1n', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[Español], CHECK_EXPIRATION=OFF, CHECK_POLICY=OFF
GO

USE [BDNOMINA2018]
GO
/****** Object:  User [AdminLocal]    25/07/2019 07:58:47 p. m.  ******/
CREATE USER [AdminBDNOMINA2018] FOR LOGIN [AdminBDNOMINA2018] WITH DEFAULT_SCHEMA=[BDNOMINA2018]
GO
ALTER ROLE [db_owner] ADD MEMBER [AdminBDNOMINA2018]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [AdminBDNOMINA2018]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [AdminBDNOMINA2018]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [AdminBDNOMINA2018]
GO
ALTER ROLE [db_datareader] ADD MEMBER [AdminBDNOMINA2018]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [AdminBDNOMINA2018]
GO

/****** Se crea la Estructura****/
CREATE TABLE [dbo].[Departaments] (
    [Id] [int] NOT NULL IDENTITY,
    [Name] [nvarchar](100) NOT NULL,
    [Description] [nvarchar](150),
    [Active] [bit] NOT NULL,
    CONSTRAINT [PK_dbo.Departaments] PRIMARY KEY ([Id])
)
CREATE TABLE [dbo].[Employees] (
    [Id] [int] NOT NULL IDENTITY,
    [JobNumber] [varchar](50) NOT NULL,
    [FirstName] [varchar](100) NOT NULL,
    [LastName] [varchar](50) NOT NULL,
    [Address] [varchar](150) NOT NULL,
    [Telefone] [varchar](25),
    [Gender] [int] NOT NULL,
    [HireDate] [datetime] NOT NULL,
    [Active] [bit] NOT NULL,
    [DepartamentId] [int] NOT NULL,
    [SalaryTabulatorId] [int] NOT NULL,
    CONSTRAINT [PK_dbo.Employees] PRIMARY KEY ([Id])
)
CREATE INDEX [IX_DepartamentId] ON [dbo].[Employees]([DepartamentId])
CREATE INDEX [IX_SalaryTabulatorId] ON [dbo].[Employees]([SalaryTabulatorId])
CREATE TABLE [dbo].[Salary_tabulators] (
    [Id] [int] NOT NULL IDENTITY,
    [Key] [varchar](100) NOT NULL,
    [JobId] [int] NOT NULL,
    [Level] [int] NOT NULL,
    [Hourlywages] [real] NOT NULL,
    [AnnualHolidayBonus] [real] NOT NULL,
    [AnnualBonusDays] [int] NOT NULL,
    [AnnualVacationDays] [int] NOT NULL,
    [Active] [bit] NOT NULL,
    CONSTRAINT [PK_dbo.Salary_tabulators] PRIMARY KEY ([Id])
)
CREATE INDEX [IX_JobId] ON [dbo].[Salary_tabulators]([JobId])
CREATE TABLE [dbo].[Jobs] (
    [Id] [int] NOT NULL IDENTITY,
    [Key] [varchar](50),
    [Name] [varchar](100),
    [Active] [bit] NOT NULL,
    CONSTRAINT [PK_dbo.Jobs] PRIMARY KEY ([Id])
)
CREATE TABLE [dbo].[Payments] (
    [Id] [int] NOT NULL IDENTITY,
    [FrequencyofPayments] [int] NOT NULL,
    [StarDate] [datetime] NOT NULL,
    [EndDate] [datetime] NOT NULL,
    [ProcessedDate] [datetime] NOT NULL,
    [VoidDate] [datetime],
    [EmployeeId] [int] NOT NULL,
    CONSTRAINT [PK_dbo.Payments] PRIMARY KEY ([Id])
)
CREATE INDEX [IX_EmployeeId] ON [dbo].[Payments]([EmployeeId])
ALTER TABLE [dbo].[Employees] ADD CONSTRAINT [FK_dbo.Employees_dbo.Departaments_DepartamentId] FOREIGN KEY ([DepartamentId]) REFERENCES [dbo].[Departaments] ([Id]) ON DELETE CASCADE
ALTER TABLE [dbo].[Employees] ADD CONSTRAINT [FK_dbo.Employees_dbo.Salary_tabulators_SalaryTabulatorId] FOREIGN KEY ([SalaryTabulatorId]) REFERENCES [dbo].[Salary_tabulators] ([Id]) ON DELETE CASCADE
ALTER TABLE [dbo].[Salary_tabulators] ADD CONSTRAINT [FK_dbo.Salary_tabulators_dbo.Jobs_JobId] FOREIGN KEY ([JobId]) REFERENCES [dbo].[Jobs] ([Id])
ALTER TABLE [dbo].[Payments] ADD CONSTRAINT [FK_dbo.Payments_dbo.Employees_EmployeeId] FOREIGN KEY ([EmployeeId]) REFERENCES [dbo].[Employees] ([Id]) ON DELETE CASCADE
CREATE TABLE [dbo].[__MigrationHistory] (
    [MigrationId] [nvarchar](150) NOT NULL,
    [ContextKey] [nvarchar](300) NOT NULL,
    [Model] [varbinary](max) NOT NULL,
    [ProductVersion] [nvarchar](32) NOT NULL,
    CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY ([MigrationId], [ContextKey])
)
